<<<<<<< HEAD
/* build time:Fri Dec 13 2024 20:18:32 GMT+0800 (中国标准时间)*/
=======
/* build time:Thu Nov 14 2024 09:16:20 GMT+0800 (中国标准时间)*/
>>>>>>> d724bdb98fdd998f92ec60f2528a36ac1322b1b0
.sea-pagination{text-align:center}.sea-pagination .next,.sea-pagination .page-number,.sea-pagination .prev,.sea-pagination .space{display:inline-block;width:2.5rem;height:2.5rem;line-height:2.5rem;background-color:var(--sea-color-bg);margin:.3rem;border-radius:5px;text-align:center}.sea-pagination .page-number.current{background-color:var(--sea-color-primary);color:var(--sea-color-white)}
/* rebuild by neat */